/*General*/

#container {
}


html, body {
    height: 100%;
}

@font-face {
    font-family: Montreal;
    src: url('fonts/Montreal.ttf'); 
}

@font-face {
    font-family: Edmondsans-Regular;
    src: url('fonts/Edmondsans-Regular.otf'); 
}

@font-face {
    font-family: Didot;
    src: url('fonts/Didot.otf'); 
}


#EmilFromHeader {
    font-family: Montreal;
    font-size: 15vmin;
    text-align: center;
    line-height: 14.5vmin;
}

#EmilFromHeader a {
    text-decoration: none;
    color: black;
}

#EditorHeader {
    font-family: Edmondsans-Regular;
    font-size: 3vmin;
    text-align: center;
}

/*Index*/

#IndexAboutBanner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vmin;
    width: 90vmin;
    height: auto;
}

#IndexPhotographyBanner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vmin;
    width: 90vmin;
    height: auto;
}

#IndexFilmBanner video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vmin;
    margin-bottom: 2vmin;
    width: 90vmin;
    height: auto;
}

#IndexFilmBanner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vmin;
    margin-bottom: 2vmin;
    width: 90vmin;
    height: auto;
}

#IndexAboutBanner :hover {
    cursor: pointer;
}

#IndexPhotographyBanner :hover {
    cursor: pointer;
}

#IndexFilmBanner :hover {
    cursor: pointer;
}

/*About*/
    

#AboutBannerAbout img {
    display: block;
    margin: 0 auto;
    margin-top: 5vmin;
    width: 90vmin;
    height: auto;
}

/*About Banners*/

.AboutTextBanner {
    display: block;
    margin: 0 auto;
    margin-top: 5vmin;
    width: 89.3vmin;
    height: 15.8vmin;
    border-style: solid;
    border-width: 0.12em;
}

.AboutTextBannerText1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0 auto;
    margin-top: 1vmin;
    text-align: center;
    font-size: 2.7vmin;

}

.AboutTextBannerText2 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    display: block;
    margin: 0 auto;
    margin-top: 1vmin;
    width: 80vmin;
    font-size: 2.4vmin;
}

.AboutTextBannerText2 a {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: underline;
    text-align: center;
    color: black;
    display: block;
    margin: 0 auto;
    margin-top: 1.5vmin;
    width: 80vmin;
    font-size: 2.4vmin;
}

#AboutPDFLink {
    display: inline;

}


/*Photography*/
    
#PhotographySlider {
    margin: 1.3vmin auto;
    width: 110vmin;
    display: inline-block;
}

.PhotographySliderImages {
    display: none;

}

.PhotographyList {
}

.Arrow {
    width: 30vmin;
    height: 75vh;
    display: flex;
    align-items: center;
}


#photography {
    display: flex;
    justify-content: space-between;
}
    
/*Film*/

.FilmBannerFilm img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vmin;
    width: 90vmin;
    height: auto;
}

/*Photography2*/

#Photography2GalleryContainer {
}

#Photography2Gallery {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#Photography2Gallery img {
    max-width: 80vw;
    max-height: 90vh;
    display: block;
    
}


#Photography2Buttons img {
    width: 5vmin;
    height: auto;
    float: right;
}

/*@media screen and (orientation:portrait) { 
    #Photography2Gallery {
        height: 100vw;
        width: 100vw; 
    }
}

@media screen and (orientation:landscape) { 
    #Photography2Gallery {
        height: 100vh;
        width: 100vw; 
    }
}*/